/* Google Fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Asterisk wildcard selector to override styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General Styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #3a3a3a;
    font-family: 'Lobster Two', sans-serif;
}

h1,
h2,
h3 {
    font-family: 'Lobster Two', sans-serif;
    letter-spacing: 2px;
    color: #000000;
}

/* Header */
header {
    background-color: #ffffff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    font-family: 'Lobster Two', sans-serif;
}

h1 {
    font-family: 'Lobster Two', sans-serif;
    letter-spacing: 2px;
    color: #252525;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

#menu>li {
    margin-bottom: 1em;
}

.active {
    border-bottom: solid #3a3a3a
}

/* Nav Bar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: #ffffff;
    padding: 0 1rem;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    left: 0;
    display: none;
    top: 100%;
}

/* Nav Toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.sr-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}



span {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/* Hiding class, making content visible only to screen readers but not visually */
/* "sr" meaning "screen-reader" */
.sr-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

#hidey {
    color: #00000000;
}

#flights-nav {
    display: block;
}

/* Main Content */
main {
    /* Make Main element take up any surplus space to push footer down */
    flex: 1 0 auto;
    /* Add margin at the top to prevent content from being covered by the header */
    margin-top: 40px;
    /* Enable flex properties for child elements */
    display: flex;
    flex-direction: column;
}

/* Hero section styles */
#hero {
    height: 600px;
    width: 100%;
    background: url(../images/pexels-photo-189349.webp) no-repeat center center/cover;
    position: relative;
}

#cover-text {
    /* Final value sets opacity for transparency */
    background-color: rgba(197, 92, 21, 0.5);
    font-size: 130%;
    position: absolute;
    bottom: 30px;
    width: 80%;
    min-height: 200px;
    padding-top: 40px;
    padding-left: 10px;
    padding-bottom: 40px;
}

/*cover text */
#cover-text>h3,
#cover-text>h4 {
    color: #000000;
}

#provide {
    background-color: rgba(146, 91, 45, 0.238);
    font-size: 130%;
    display: flex;
    text-align: center;
    justify-content: center;
}

#info {
    background-color: rgba(146, 91, 45, 0.238);
    font-size: 100%;
    padding: 15px;
}

/*Home page images for flights, accommodation and recommendations */
#flights-image {
    background: url(../images/pexels-photo-2990971.jpeg) no-repeat top center/ cover;
    display: flex;
    height: 50vw;
    width: 50vw;
    margin-bottom: 20px;
    max-width: 500px;
    max-height: 500px;
    border-radius: 50%;
}

#accommodation-image {
    background: url(../images/pexels-photo-70441.jpeg) no-repeat top center/ cover;
    height: 50vw;
    width: 50vw;
    margin-bottom: 20px;
    max-width: 500px;
    max-height: 500px;
    border-radius: 50%;
}

#recommendations-image {
    background: url(../images/pexels-photo-9487469.jpeg) no-repeat top center/ cover;
    height: 50vw;
    width: 50vw;
    margin-bottom: 20px;
    max-width: 500px;
    max-height: 500px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Home page image styling */
#flights {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#accommodation {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#recommendations {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Home page paragraphs */
#flights>p {
    text-align: center;
    justify-content: center;
    font-family: 'Lobster Two';
    padding: 15px;
    width: 50%;
    font-size: 130%;
}

#accommodation>p {
    text-align: center;
    justify-content: center;
    font-family: 'Lobster Two';
    padding: 10px;
    width: 45%;
    font-size: 130%;
}

#recommendations>p {
    text-align: center;
    justify-content: center;
    font-family: 'Lobster Two';
    padding: 10px;
    width: 45%;
    font-size: 130%;
}

/* Continents Section */
#continents {
    background: url(../images/pexels-photo-335393.jpeg) no-repeat center/ cover;
    /* Makes continents section responsive without changing media queries */
    display: flex;
    flex-wrap: wrap;
}

#sevencontinents div {
    color: #fafafa;
    background-color: rgba(0, 0, 0, .6);
    padding: 15px;
    text-align: center;
    flex-basis: 200px;
    flex-grow: 1;
}

#continents h3 {
    color: #fafafa;
    padding: 15px;
    text-align: center;
    flex-basis: 200px;
    flex-grow: 1;
}

#continents h2 {
    color: #000000;
    padding: 15px;
    text-align: center;
    flex-basis: 200px;
    flex-grow: 1;
}

/* Gallery page */
#photos img {
    width: 100%;
    line-height: 1em;
}

#photos {
    line-height: 0;
}

/* Gallery paragraph */
#gallery-paragraph {
    text-align: center;
    justify-content: center;
    color: #252525;
    background-color: rgba(146, 91, 45, 0.238);
    padding: 20px;
}

/* Discover More page */

#discovermore {
    background: url("../images/pexels-photo-356808.jpeg") no-repeat center/ cover;
    background-size: cover;
    background-position: 75%;
    padding: 20px 10% 0 10%;
    flex-grow: 1;
}

/* Discover More Form */
#discovermore-form {
    color: #ffffff;
    background-color: rgba(60, 60, 60, 0.6);
    padding: 30px;
}

#htwhite {
    color: #ffffff;
}

/* Discover More paragraph */
#discovermore>p {
    padding: 25px;
    text-align: center;
}

.breaks {
    margin: 1rem;
    display: flex;
    column-count: 1;
}

/* Footer */
#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #3a3a3a;
}

.discovermore-button {
    font-family: 'Lobster Two', sans-serif;
}

/* Media query: large or landscape phones (576px and up) */
@media screen and (min-width:576px) {
    #photos {
        column-count: 2;
        column-gap: 0;
    }
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width:768px) {

    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu>li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 280%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    /* Main Content */
    main {
        /* Push main content down to accomdoate larger header */
        margin-top: 75px;
    }

    /* Hero */
    #cover-text {
        width: 300px;
        right: 50px;
    }

    #provide {
        text-align: center;
    }

    .far {
        display: flex;
        flex-direction: row-reverse;
        width: 75%;
        left: 1rem;
        font-size: 130%;
    }

    #photos {
        column-count: 3;
    }
}

/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width:792px) {
    #menu a:hover {
        border-bottom: 1px solid #3a3a3a;
    }

    #provide {
        text-align: center;
        font-size: 200%;
    }

    /* Home Page headings for flights,
accommodation and recommendations */
    .farheading {
        font-size: 150%;
    }

    /* Home page paragraphs for flights,
    accommodation and recommendations */
    .far {
        display: flex;
        flex-direction: column;
        width: 30%;
        text-align: left;
        font-size: 130%;
    }

    /* Home page images for flights, accommodation and recommendations */
    .farimages {
        height: 20vw;
        width: 20vw;
        margin-bottom: 70px;
        max-width: 500px;
        max-height: 500px;
    }

    #flights {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-around;
    }

    #accommodation {
        display: flex;
        flex-direction: row-reverse;
        width: 100%;
        justify-content: space-around;
    }

    #recommendations {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-around;
    }

    #photos {
        column-count: 4;
    }

}